{% block birdview %}
    <div id="birdView" class="center">
        <svg id="bird" width="420" height="300" >
        </svg>
    </div>
    <script>
        // Kreiranje objekata koji predstavljaju podatke o cvorovima
        var nodes2 = {
            {% for node in nodesList %}
                "{{node.id}}": {id: "cvor_{{node.id}}", name: "{{node.value}}"},
            {% endfor %}
        };

        // Kreiranje objekata koji predstavljaju podatke o granama
        var links2 = [
            {% for j in edgesList %}
                {source: '{{j.originNode.id}}', target: '{{j.targetNode.id}}'},
            {% endfor %}
        ];

        // Zamena identifikatora cvorova za objekte koji ih predstavljaju
        links2.forEach(function (link) {
            link.source = nodes2[link.source];
            link.target = nodes2[link.target];
        });

        // Force Layout za Bird View
        var birdForce = d3.layout.force()
            .size([390, 290])
            .nodes(d3.values(nodes2))
            .links(links2)
            .on("tick", tickBird)
            .linkDistance(35)
            .charge(-100)
            .start();

        // Podesavanje zoom funkcije
        var birdSvg = d3.select('#bird')
        .call(d3.behavior.zoom().on("zoom", function () {
        svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
        }))

        // Dodavanje grana na platno
        var link2 = birdSvg.selectAll('.link2')
            .data(links2)
            .enter().append('line')
            .attr('class', 'link2')
            .style('stroke-width', '1.5')
            .attr('stroke', 'black');

        // Dodavanje cvorova na platno
        var node2 = birdSvg.selectAll('.node2')
            .data(birdForce.nodes()) //add
            .enter().append('g')
            .attr('class', 'node2')
            .attr('id', function (d) { return d.id + "B"; })
            .on('click', function (d) {
                d3.selectAll('.node2').each(function (e) {
                    birdView(e);
                });

                d3.selectAll("rect").filter(function(e){
                    return selected(e);
                })
                .style("fill", "pink")

                d3.selectAll("circle").filter(function(e){
                    return selected(e);
                })
                .style("fill", "pink")

                function selected(e) {
                    if (e.name === d.id)
                        return d.id
                }

                d3.select("g#" + d.id + "B")
                .append('circle')
                .attr('r', 10)
                .style('fill','pink');

                d3.select("g#" + d.id + "B").append('text')
                .attr('text-anchor', 'middle')
                .attr('font-size', 12)
                .style('fill', 'black')
                .text(function (e) {
                    return e.name;
                });
            });

        d3.selectAll("#mainView").on("dblclick", selection)

        // Prikaz grafa
        d3.selectAll('.node2').each(function (d) {
            birdView(d);
        });

        function selection() {
            d3.selectAll('.selection').remove();

            d3.selectAll('.node2').each(function (d) {
                birdView(d);
            });

            var v = d3.selectAll(".focus")[0][0];

            d3.selectAll("rect").filter(function(e){
                return selected(e);
            })
            .style("fill", "pink")

            d3.selectAll("circle").filter(function(e){
                return selected(e);
            })
            .style("fill", "pink")

            function selected(e) {
            if (e.name === v.id)
                return v.id
            }
            d3.select("g#" + v.id + "B")
                    .append('circle')
                    .attr('r', 10)
                    .style('fill', 'pink');
            d3.select("g#" + v.id + "B").append('text')
                    .attr('text-anchor', 'middle')
                    .attr('font-size', 12)
                    .style('fill', 'black')
                    .text(function (d) {
                        return d.name;
                    });
        }

        function birdView(d) {
            d3.selectAll("rect").style("fill", "#dedded")
            d3.selectAll("circle").style("fill", "#dedded")

            d3.select("g#" + d.id + "B")
                .append('circle')
                .attr('r', 10)
                .style('fill','#dedded');

            d3.select("g#" + d.id + "B").append('text')
                .attr('text-anchor', 'middle')
                .attr('font-size', 12)
                .style('fill', 'black')
                .text(function (d) {
                    return d.name;
                });
        }

        function tickBird(e) {
            node2.attr("transform", function (d) {
                return "translate(" + d.x + "," + d.y + ")";
                })
                .call(birdForce.drag);
            link2.attr('x1', function (d) {
                return d.source.x;
                })
                .attr('y1', function (d) {
                    return d.source.y;
                })
                .attr('x2', function (d) {
                    return d.target.x;
                })
                .attr('y2', function (d) {
                    return d.target.y;
                });
        }
    </script>
{% endblock %}